In [48]:
# Import pandas
import pandas as pd

In [49]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep = ' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

# highest income

In [50]:
print("The highest income in the dataset is :£",df['Income'].max())

The highest income in the dataset is :£ 186.634

# lowest income

In [51]:
print("The lowest income in the dataset is :£",df['Income'].min())

The lowest income in the dataset is :£ 10.354

# how many cards

In [52]:
print("The number of cards recorded in the dataset is :",df['Cards'].sum())

The number of cards recorded in the dataset is : 1183

# How many females do we have information for vs how many males

In [53]:
df.groupby(['Gender']).Student.count()

Gender
Female    207
Male      193
Name: Student, dtype: int64

# average income based on ethnicity

In [54]:

df.groupby(['Ethnicity']).Income.mean()

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

# On average, do married or single people have a higher balance?

In [55]:

df.groupby(['Married']).Balance.mean()

Married
No     13.493509
Yes    13.388473
Name: Balance, dtype: float64